.result {
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
}

.card-image{
   display: block;
   width: 200px;
   height: 150px;
}

.card{
   width: 200px;
   margin: 20px;
}

.btn{
  background-color: aquamarine;
  border: 1px solid aquamarine;
   width: 150px;
   transition: 0.1s;
}

.btn:hover{
   transform: scale(1.05);
}

.inp{
   width: 150px;
}

